---
import MainLayout from "@/layouts/MainLayout.astro";
import TagSelector from "@/components/TagSelector.astro";
---

<MainLayout title="Blog">
  <div class="max-w-content-size mx-auto w-full">
    <TagSelector />
    <section class="mt-6 w-full">
      <ul class="space-y-8">
        <slot />
      </ul>
    </section>
  </div>
</MainLayout>
